# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
terraform.tfstate.d/

# AWS
*.aws
credentials
config

# Local
.DS_Store
*.log
*.env